@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    font-weight: 400;
    color: #130f40;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #dbeafe;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #475569;
}

#root {
    width: 100%;
    background-color: #f1f9ec;
}

.loaderContainer {
    background-color: transparent;
    position: absolute;
    height: 70%;
    width: 100%;
}

.ballContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loaderContainer div.ball {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    animation: jump 1s infinite;
}

.loaderContainer div.ball1 {
    background-color: #ED0800;
}

.loaderContainer div.ball2 {
    background-color: #ED0800;
    animation-delay: 0.15s;
}

.loaderContainer div.ball3 {
    background-color: #ED0800;
    animation-delay: 0.3s;
}

.loaderContainer div.ball4 {
    background-color: #ED0800;
    animation-delay: 0.45s;
}

.loaderContainer div.ball5 {
    background-color: #ED0800;
    animation-delay: 0.6s;
    margin-right: 10px;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Header */
.App--Header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    border-bottom: 1px solid #130f4080;
    background-color: #f1f9ec;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 2em;
    gap: 20px;
}

.AppLogo {
    width: 55px;
}

.searchContainer {
    width: 60%;
    height: 50px;
    position: relative;
    border-radius: 100px;
}

#SearchProduct {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    font-size: 18px;
    padding: 0em 4em 0em 1em;
    font-weight: 600;
}

#SearchProduct::placeholder {
    color: black;
    font-weight: 400;
}

.searchProductBtn {
    position: absolute;
    border: none;
    outline: none;
    top: 0;
    right: 0px;
    height: 100%;
    width: 45px;
    font-weight: 900;
    font-size: 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #e7a9777c;
}

.searchProductBtn:hover {
    cursor: pointer;
}

.searchProductBtn:hover .searchProductBtnIcon {
    transform: scale(0.89);
}

.userContainer {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.userBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.userBox:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.userBox:hover .userIcon {
    color: tomato;
}

.userIcon {
    font-size: 30px;
}

.UserName {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
}

.itemCountLabel {
    border: none;
    outline: none;
    position: absolute;
    top: 5px;
    right: 10px;
    width: 25px;
    height: 25px;
    font-size: 18px;
    text-align: center;
    background-color: #ff2400;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: white;
}

.userDropDown {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    position: absolute;
    background-color: #f1f9ec;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 300px;
    top: 100%;
    right: 0%;
    max-height: 200px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    display: none;

}

.dropDownItem {
    text-decoration: none;
    width: 100%;
    height: 65px;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    text-decoration: none;
}

.dropDownnitemIcon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.itemLabel {
    font-weight: 400;
    font-size: 18px;
}

.dropDownItem:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dropDownItem:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    color: tomato;
}

.dropDownItem:hover .itemLabel {
    font-weight: 500;
}

.userContainer:hover .userDropDown {
    display: flex;
    z-index: 5;
}

.hamNavButton {
    border: 0.5px solid #130f40;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    display: none;
}


/* Navbar of big screen */
.sideNavbar {
    display: none;
}

.hideTabMobileNavBar {
    display: none;
}

.webNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #130f4080;
    height: 90px;
    padding: 0em 0.5em;
}

.navLinksContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navItem {
    color: #130f40;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.active {
    color: #ff2400;
}

.navItem:hover {
    cursor: pointer;
    color: #ff2400;
}


/* Home Section  */

.SliderContainer {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 0px 0px 0px;
}

.SliderImg-Box {
    width: 100%;
    height: 100%;
    display: none;
}

.SliderImg-Box.active {
    position: relative;
    display: block;
    opacity: 1;
    transition: all 1.2s ease-in;
}

.SliderPoster {
    width: 100%;
    height: 100%;
}

.arrow {
    position: absolute;
    height: 20%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.134);
    color: white;
    font-size: 30px;
    z-index: 2;
    user-select: none;
    outline: none;
}

.arrow:hover {
    cursor: pointer;
    color: #f97316;
    background-color: rgba(0, 0, 0, 0.3);
}

.LeftArrow {
    left: 0px;
}

.RightArrow {
    right: 00px;
}

.bestSellerContainer,
.featuredProductContainer {
    background-color: white;
    position: relative;
    min-height: 400px;
}

.containerHeading {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 100%;
    border-bottom: 1px solid #130f4046;
    border-top: 1px solid #130f4046;
    text-align: center;
    padding: 1em;
}

.productContainer {
    width: 100%;
    min-height: 400px;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.productBox {
    border: 1px solid #130f4046;
    border-radius: 5px;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em;
    position: relative;
    overflow: hidden;
}

.laptopImage {
    max-width: 225px;
    max-height: 200px;
}

.mobileImage {
    min-width: 150px;
    max-width: 200px;
    max-height: 225px;
}

.cameraImage {
    max-width: 200px;
    max-height: 225px;
}

.productRatingLabel {
    border-top-left-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff2400;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: white;
    gap: 2px;
    font-size: 12px;
}

.CommonImage {
    transition: all 0.7s ease;
}

.productRatingLabel i {
    color: white;
}

.productDetailsContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background-color: #f1f9eca6;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5em 0.5em;
    opacity: 0;
}

@keyframes detailsAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.productTitle {
    font-weight: 500;
    font-size: 18px;
}

.productPriceBox {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Dprice {
    color: #ff2400;
    font-weight: 600;
    font-size: 20px;
}

.Aprice {
    font-weight: 600;
    color: darkred;
    text-decoration: line-through;
    font-size: 14px;

}

.DiscountPercentage {
    font-weight: 700;
    color: #388e3c;
}

.viewProductDetailsLink {
    font-size: 20px;
    font-weight: 500;
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px 0px;
    text-decoration: none;
}

.viewProductDetailsLink:hover {
    cursor: pointer;
    color: #ff2400;
}

.productBox:hover .CommonImage {
    transform: scale(0.9);
}

.productBox:hover .productDetailsContainer {
    animation: detailsAnimation 0.8s ease-in;
    opacity: 1;
}

.posterContainer {
    width: 100%;
    height: 300px;
    position: relative;
}

.showNowButton {
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 80%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 150px;
    padding: 0.5em;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}

.showNowButton:hover {
    cursor: pointer;
    background-color: #b8b8b83f;
}

.homePoster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.serviceCardContainer {
    width: 100%;
    min-height: 350px;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    padding: 2em 1em;
    gap: 20px;
}

.serviceCard {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 10px;
    width: 100%;
    min-height: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding: 1em;
    transition: all 0.4s ease-in-out;
}

.serviceIcon {
    font-size: 45px;
    color: #ff2400;

}

.serviceTitle {
    width: 100%;
    text-align: center;
    height: 30px;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;

}

.serviceDes {
    color: #7c7a94;
    text-align: justify;
    font-size: 16px;
    min-height: 150px;
    font-weight: 500;
}

.serviceCard:hover {
    cursor: grab;
    transform: translatey(-5px)
}

.ProductPageContainer {
    width: 100%;
    min-height: 78.3vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.filterContainer {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    height: 570px;
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    overflow: hidden;
    overflow-y: auto;
}

.filterContainer--Heading {
    border-bottom: 1px solid #130f4046;
    width: 100%;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.filterContainer--filterbrandName {
    width: 100%;
    height: 56px;
    margin: 15px 0px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    font-size: 20px;
    text-decoration: none;
}

.filterContainer--filterbrandName:hover {
    cursor: pointer;
    color: tomato;
    background-color: rgba(255, 255, 255, 0.493);
}


.ShowProduct-ProductContainer {
    position: relative;
    width: calc(100% - 300px);
    min-height: 570px;
    background-color: rgba(255, 255, 255, 0.622);
}

.filterProductButton {
    display: none;
}

.outOfStockMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.ProductFullDetailsContainer {
    width: 100%;
    min-height: 78.3vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    background-color: white;
}

.Product--pictureContainer {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 500px;
    height: 570px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 3em 0.5em 0em 0.5em;
    position: relative;
}

.MoreImageContainer {
    width: 95%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    padding: 0.5em;
    position: absolute;
    bottom: 5px;
    overflow: hidden;
    overflow-x: auto;
}

.imageBox {
    height: 100%;
    width: 70px;
}

.MoreImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.laptopcurrentImage {
    max-width: 400px;
    min-height: 260px;
    max-height: 300px;
}

.cameracurrentImage {
    max-width: 350px;
    max-height: 400px;
}

.mobilecurrentImage {
    max-height: 420px;
    min-height: 300px;
    max-width: 300px;
}

.Product--DetailsContainer {
    width: calc(100% - 500px);
    min-height: 570px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5em;
    gap: 20px;
}

.currentProduct--title {

    width: 100%;
    font-size: 20px;

    font-weight: 500;
    line-height: 1.2em;
}

.currentProduct--rating {
    border-radius: 5px;
    background-color: #388e3c;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    color: white;
    font-weight: 600;
    padding: 0em 0.4em;
}

.currentProduct--rating i {
    color: white;
}

.currentPrduct--price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.currentPrduct--price span {
    font-size: 30px;
}

.itemCountContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 35px;
    padding: 0em 0.5em;
}


.addToCartButton:hover {
    cursor: pointer;
    background-color: #060514;
}

.currentPrduct--discription {
    font-weight: 500;
    font-size: 18px;
    color: #4c4c52af;
}

.addToCartButton {
    border: none;
    outline: none;
    color: white;
    width: 200px;
    height: 50px;
    padding: 0.5em;
    font-weight: 500;
    font-size: 18px;
    background-color: #130f40;
    border-radius: 10px;
}

.cartItems--Container {
    width: 100%;
    min-height: 555px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.emptyCartMessage {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%, -60%);
    font-size: 40px;
    font-weight: 600;
    color: #ED0800;
}

.cartItemBox {
    width: 100%;
    padding: 1em;

}

.hrLine {
    border-color: #06051438;
    border-width: 1px;

}

.itemBox {
    margin: 10px 0px;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.itemPictureContainer {
    border-radius: 5px;
    padding: 0.5em;
    background-color: white;
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemPicture {
    border-radius: 5px;
    height: 90%;
    max-width: 150px;
}

.itemDetailsContainer {
    padding-left: 0.5em;
    width: calc(100% - 200px);
    display: grid;
    grid-template-columns: auto 200px auto 150px;
    justify-content: space-around;
    align-content: center;
    height: 100%;
}

.itemBox--itemPrice {
    font-weight: 600;
    font-size: 18px;
}

.ItemquantityContainer {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantityButton {
    width: 50px;
    height: 100%;
    font-weight: 700;
    font-size: 20px;
    color: white;
    background-color: #33A0FF;
    border: none;
    outline: none;
}

.quantityButton:hover {
    cursor: pointer;
    background-color: #1d93fa;
    color: #ff2400;
}

.itemQuantity {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 100%;
    font-size: 22px;
    color: #ff2400;
    font-weight: 600;
    text-align: center;
}

.itemToalPrice {
    font-weight: 600;
    font-size: 20px;
}

.itemToalPrice .ToalPrice {
    font-size: 22px;
    color: #388e3c;
    font-weight: 500;
}

.removeFromCartButton {
    font-weight: 600;
    font-size: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #ff2400;
    width: 100%;
}

.removeFromCartButton:hover {
    cursor: pointer;
    color: #cc3d27;
}

.cartItem-PriceBox {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    width: 400px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
}

.PriceBox--heading {
    color: #ED0800;
    width: 100%;
    border-bottom: 2px solid #130f406e;
    padding: 0.5em 1em;
    font-weight: 600;
    font-size: 25px;
    text-transform: capitalize;
}

.PriceBox-Items {
    margin: 10px 0px;
    width: 100%;
    padding: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 0.5em;
    font-weight: 600;
    font-size: 22px;
    border: 1px solid #0605143f;
}

.PriceBox-Items-Label {
    font-size: 20px;
    font-weight: 600;
}

.checkOutButton {
    margin: 10px 0px;
    width: 200px;
    padding: 0.8em;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #33A0FF;
    color: #130f40;
}

.checkOutButton:hover {
    cursor: pointer;
    background-color: #1d93fa;
    transform: scale(0.98);
}

/* Login & sign Up form container */
.userFormContainer {
    background-image: url("https://img.freepik.com/free-photo/online-fashion-shopping-collage_23-2150535769.jpg?w=1060&t=st=1700805941~exp=1700806541~hmac=42852998617d71e07fd1c3f711e3d438a69603605c10e9275fad41be0adc10aa");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    margin: 10px auto 0px auto;
    min-height: 100vh;
    position: relative;
    width: 60%;
}

.FormLinkContainer {
    border-bottom: 1px solid #06051457;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 0.5em 1em;
}

.formLink {
    border-radius: 10px;
    text-decoration: none;
    height: 100%;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    color: white;
    transition: all 0.3s ease-in;
}

.FormLinkContainer .active {
    background-color: tomato;
    color: white;
}

.formBox {
    backdrop-filter: blur(10px);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.432);
    width: 400px;
    height: 450px;
    margin: 30px auto 0px auto;
    animation: fadeIn 0.7s ease-in-out;
    transition: all 0.7s ease-in;
    opacity: 1;
}

.formBox form {
    width: 100%;
    height: fit-content;
}

.registerFormBox {
    height: 580px;
    width: 450px;
    margin: 20px auto 0px auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }


}

.formBox--heading {
    border-bottom: 2px solid #06051460;
    text-align: center;
    padding: 0.5em;
    font-weight: 600;
}

.inputBox {
    width: 85%;
    margin: 20px auto 0px auto;
    height: 75px;
    position: relative;
}

.inputErrorMsg {
    margin: 5px 0px 0px 10px;
    font-weight: 700;
    font-style: italic;
    color: #ff2400;
    font-size: 14px;
}

.inputErrorMsg i {
    color: #ff2400;
    font-size: 16px;
    margin-left: 5px;
}

.inputFilelds {
    border: none;
    outline: none;
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
}

.inputFilelds::placeholder {
    font-weight: 500;
    font-size: initial;
    color: #f97316;
}

input[type="password"] {
    padding-right: 2.5em;
}

.showPassBtnIcon {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 0;
    right: 0;
    height: 53%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-weight: 700;
}

.showPassBtnIcon:hover {
    cursor: pointer;
    color: tomato;


}


.formBox--Buttons {
    border: none;
    outline: none;
    display: block;
    width: 200px;
    margin: 10px auto 0px auto;
    font-size: 18px;
    padding: 0.4em;
    background-color: #1d93fa;
    border-radius: 5px;
    font-weight: 600;
}

.formBox--Buttons:hover {
    cursor: pointer;
    background-color: #33A0FF;
}

.continueContainer {
    margin: 20px 0px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigateButton {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: #ff2400;
    font-weight: 600;
    transition: all 0.3s ease-in;
}

.navigateButton:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.registrationResponseContainer {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.419);
    backdrop-filter: blur(5px);
    z-index: 2;
    top: 0;
    left: 0px;
}

.responseContainer {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

svg {
    stroke-dasharray: 269.7405090332031px;
    stroke-dashoffset: 0;
    animation: heartBeat 1.2s ease-in-out infinite;
    transform: rotate(-90deg);
    width: 90px;
}

.responsebox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.registrationMsg,
.loginMsg {
    font-size: 30px;
    font-weight: 600;
}

@keyframes heartBeat {
    from {
        stroke-dashoffset: 269.7405090332031px;
    }

    to {
        stroke-dashoffset: -269.7405090332031px;
    }
}

.responseContainerButton {
    width: 200px;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #388e3c;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.responseContainerButton:hover {
    cursor: pointer;
    background-color: #207724;
    transform: scale(0.89);
}

@media screen and (max-width: 901px) {
    .SliderContainer {
        height: 300px;
    }

    .posterContainer {
        height: 250px;
    }

    .ProductFullDetailsContainer {
        flex-direction: column;
    }

    .Product--pictureContainer,
    .Product--DetailsContainer {
        width: 100%;
    }

    .itemDetailsContainer {
        grid-template-columns: auto 200px;
        gap: 20px;
    }

    .formBox {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {

    .filterContainer {
        display: none;
    }

    .ShowProduct-ProductContainer {
        width: 100%;
    }

    .filterProductButton {
        background-color: #ff2400;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        color: white;
        border: none;
        outline: none;
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 3;
        top: 0px;
        right: 5px;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 20px;
        display: block;
    }

    .filterProductButton i {
        color: white;
    }

    .filterProductButton:hover {
        cursor: pointer;
    }

    .filterProductButton:hover i {
        transform: scale(1.2);
    }

    .activeFilterContainer {
        display: block;
        position: absolute;
        height: 100%;
        background-color: #f1f9ec;
        z-index: 2;
        animation: detailsAnimation 0.6s ease-in-out;
        opacity: 1;
    }

    @keyframes detailsAnimation {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }

    }

    .userFormContainer {
        width: 90%;
    }

    .formBox,
    .registerFormBox {
        width: 95%;
    }
}

@media screen and (max-width: 601px) {

    .webNavbar,
    .searchContainer,
    .userContainer {
        display: none;
    }

    .App--Header {
        background-color: #f1f9ec;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 4;
        padding: 0em 0.6em;
    }

    .hamNavButton {
        display: flex;
    }

    /* Nav bar for Small Screen */

    .sideNavbar {
        backdrop-filter: blur(30px);
        background-color: #0605143b;
        position: fixed;
        top: 70px;
        left: 0;
        z-index: 4;
        width: 100%;
        height: 100vh;
        align-items: center;
        display: flex;
        justify-content: flex-start;
        padding-top: 10px;
        flex-direction: column;
        gap: 20px;
    }

    .sideNavbar--userContainer {
        border-bottom: 1px solid #0605148f;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0em 0.3em;
    }

    .sideNavbar--cartItemBox {
        background-color: rgba(255, 255, 255, 0.253);
        border-radius: 5px;
        width: 20%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0em 0.5em;
        gap: 10px;
        font-size: 20px;
        text-decoration: none;
    }

    .sideNavbar--cartItemBox:hover {
        cursor: pointer;
    }

    .sideNavbar--cartItemBox:hover i {
        transform: scale(0.98);
        color: #ED0800;
    }

    .sideNavbar--ItmeCount {
        font-weight: 600;
        font-size: 22px;
    }

    .sideNavbar .navItem {
        width: 70%;
        height: 50px;
        border-radius: 5px;
        text-align: center;
        padding: 0.2em 0em;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.438);
    }

    .logButton {
        text-decoration: none;
        width: 40%;
        padding: 0.8em;
        font-size: 18px;
        font-weight: 600;
        border: none;
        outline: none;
        background-color: tomato;
        border-radius: 10px;
        text-align: center;
    }

    .cartItemBox--userBox {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }

    .cartItemBox--userBox .userIcon {
        font-size: 25px;
    }

    .cartItemBox--userBox .UserName {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 20px;
        display: grid;
        place-items: center;
        background-color: rgba(255, 255, 255, 0.8);
        font-weight: 600;
    }

    .hideTabMobileNavBar {
        display: none;
    }
}

@media screen and (max-width: 500px) {

    .laptopcurrentImage,
    .cameracurrentImage {
        width: 100%;
    }

    .emptyCartMessage {
        font-size: 30px;
        top: 50%;
    }
}

@media screen and (max-width: 400px) {
    .currentPrduct--price span {
        font-size: 20px;
    }

    .itemCountContainer {
        gap: 10px;
    }

    .addToCartButton {
        width: 150px;
        height: 45px;
    }

    .activeFilterContainer {
        width: 100%;
    }

    .emptyCartMessage {
        font-size: 25px;
    }

    .userFormContainer {
        width: 100%;
    }

    .formBox--heading {
        font-size: 18px;
    }

    .sideNavbar .navItem {
        width: 90%;
    }

    .sideNavbar--cartItemBox {
        width: 30%;
    }
}