@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    font-weight: 400;
    color: #130f40;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #dbeafe;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #475569;
}

#root {
    width: 100%;
    background-color: #f1f9ec;
}

/* Header */
.App--Header {
    border-bottom: 1px solid #130f4080;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 2em;
    gap: 20px;
}

.AppLogo {
    width: 55px;
}

.searchContainer {
    width: 60%;
    height: 50px;
    position: relative;
    border-radius: 100px;
}

#SearchProduct {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    font-size: 18px;
    padding: 0em 4em 0em 1em;
    font-weight: 600;
}

#SearchProduct::placeholder {
    color: black;
    font-weight: 400;
}

.searchProductBtn {
    position: absolute;
    border: none;
    outline: none;
    top: 0;
    right: 0px;
    height: 100%;
    width: 45px;
    font-weight: 900;
    font-size: 20px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #e7a9777c;
}

.searchProductBtn:hover {
    cursor: pointer;
}

.searchProductBtn:hover .searchProductBtnIcon {
    transform: scale(0.89);
}

.userContainer {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.userBox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.userBox:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.userBox:hover .userIcon {
    color: tomato;
}

.userIcon {
    font-size: 30px;
}

.UserName {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: 500;
}

.itemCountLabel {
    border: none;
    outline: none;
    position: absolute;
    top: 5px;
    right: 10px;
    width: 25px;
    height: 25px;
    font-size: 18px;
    text-align: center;
    background-color: #ff2400;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: white;
}

.userDropDown {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    position: absolute;
    background-color: #f1f9ec;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 300px;
    top: 100%;
    right: 0%;
    height: 200px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    display: none;

}

.dropDownItem {
    text-decoration: none;
    width: 100%;
    height: 65px;
    border: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    text-decoration: none;
}

.dropDownnitemIcon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.itemLabel {
    font-weight: 400;
    font-size: 18px;
}

li:nth-child(3) {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dropDownItem:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    color: tomato;
}

.dropDownItem:nth-child(3):hover {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.dropDownItem:hover .itemLabel {
    font-weight: 500;
}

.userContainer:hover .userDropDown {
    display: flex;
    z-index: 5;
}

.hamNavButton {
    border: 0.5px solid #130f40;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    display: none;
}


/* Navbar of big screen */
.webNavbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #130f4080;
    height: 90px;
    padding: 0em 0.5em;
    background-color: #f1f9ec;
}

.navLinksContainer {
    /* border: 2px solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navItem {
    color: #130f40;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

.active {
    color: #ff2400;
}

.navItem:hover {
    cursor: pointer;
    color: #ff2400;
}


/* Home Section  */

.SliderContainer {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px 0px 0px 0px;
}

.SliderImg-Box {
    width: 100%;
    height: 100%;
    display: none;
}

.SliderImg-Box.active {
    position: relative;
    display: block;
    opacity: 1;
    transition: all 1.2s ease-in;
}

.SliderPoster {
    width: 100%;
    height: 100%;
}

.arrow {
    position: absolute;
    height: 20%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.134);
    color: white;
    font-size: 30px;
    z-index: 2;
    user-select: none;
    outline: none;
}

.arrow:hover {
    cursor: pointer;
    color: #f97316;
    background-color: rgba(0, 0, 0, 0.3);
}

.LeftArrow {
    left: 0px;
}

.RightArrow {
    right: 00px;
}

.bestSellerContainer,
.featuredProductContainer {
    background-color: white;
}

.containerHeading {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 100%;
    border-bottom: 1px solid #130f4046;
    border-top: 1px solid #130f4046;
    text-align: center;
    padding: 1em;
}

.productContainer {
    width: 100%;
    min-height: 400px;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.productBox {
    border: 1px solid #130f4046;
    border-radius: 5px;
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8em;
    position: relative;
    overflow: hidden;
}

.laptopImage {
    max-width: 225px;
    max-height: 200px;
}

.mobileImage {
    min-width: 150px;
    max-width: 200px;
    max-height: 225px;
}

.cameraImage {
    max-width: 200px;
    max-height: 225px;
}

.productRatingLabel {
    border-top-left-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff2400;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: white;
    gap: 2px;
    font-size: 12px;
}

.CommonImage {
    transition: all 0.7s ease;
}

.productRatingLabel i {
    color: white;
}

.productDetailsContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    background-color: #f1f9eca6;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0.5em 0.5em;
    opacity: 0;
}

@keyframes detailsAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.productTitle {
    font-weight: 500;
    font-size: 18px;
}

.productPriceBox {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Dprice {
    color: #ff2400;
    font-weight: 600;
    font-size: 20px;
}

.Aprice {
    font-weight: 600;
    color: darkred;
    text-decoration: line-through;
    font-size: 14px;

}

.DiscountPercentage {
    font-weight: 700;
    color: #388e3c;
}

.viewProductDetailsLink {
    font-size: 20px;
    font-weight: 500;
    display: block;
    width: 100%;
    text-align: center;
    margin: 5px 0px;
    text-decoration: none;
}

.viewProductDetailsLink:hover {
    cursor: pointer;
    color: #ff2400;
}

.productBox:hover .CommonImage {
    transform: scale(0.9);
}

.productBox:hover .productDetailsContainer {
    animation: detailsAnimation 0.8s ease-in;
    opacity: 1;
}

.posterContainer {
    width: 100%;
    height: 300px;
    position: relative;
}

.showNowButton {
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 80%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 150px;
    padding: 0.5em;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}

.showNowButton:hover {
    cursor: pointer;
    background-color: #b8b8b83f;
}

.homePoster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.serviceCardContainer {
    width: 100%;
    min-height: 350px;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    padding: 2em 1em;
    gap: 20px;
}

.serviceCard {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 10px;
    width: 100%;
    min-height: 280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding: 1em;
    transition: all 0.4s ease-in-out;
}

.serviceIcon {
    font-size: 45px;
    color: #ff2400;

}

.serviceTitle {
    width: 100%;
    text-align: center;
    height: 30px;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;

}

.serviceDes {
    color: #7c7a94;
    text-align: justify;
    font-size: 16px;
    min-height: 150px;
    font-weight: 500;
}

.serviceCard:hover {
    cursor: grab;
    transform: translatey(-5px)
}

.ProductPageContainer {
    width: 100%;
    min-height: 78.3vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.filterContainer {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    height: 570px;
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    overflow: hidden;
    overflow-y: auto;
}

.filterContainer--Heading {
    border-bottom: 1px solid #130f4046;
    width: 100%;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}

.filterContainer--filterbrandName {
    width: 100%;
    height: 56px;
    margin: 15px 0px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    font-size: 20px;
    text-decoration: none;
}

.filterContainer--filterbrandName:hover {
    cursor: pointer;
    color: tomato;
    background-color: rgba(255, 255, 255, 0.493);
}


.ShowProduct-ProductContainer {
    position: relative;
    width: calc(100% - 300px);
    min-height: 570px;
    background-color: rgba(255, 255, 255, 0.622);
    /* margin-top: 80px; */
}

.filterProductButton {
    display: none;
}

.outOfStockMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.ProductFullDetailsContainer {
    width: 100%;
    min-height: 78.3vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    background-color: white;
}

.Product--pictureContainer {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 500px;
    height: 570px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 3em 0.5em 0em 0.5em;
    position: relative;
}

.MoreImageContainer {
    width: 95%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    padding: 0.5em;
    position: absolute;
    bottom: 5px;
    overflow: hidden;
    overflow-x: auto;
}

.imageBox {
    height: 100%;
    width: 70px;
}

.MoreImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.laptopcurrentImage {
    max-width: 400px;
    min-height: 260px;
    max-height: 300px;
}

.cameracurrentImage {
    max-width: 350px;
    max-height: 400px;
}

.mobilecurrentImage {
    max-height: 420px;
    min-height: 300px;
    max-width: 300px;
}

.Product--DetailsContainer {
    width: calc(100% - 500px);
    min-height: 570px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.5em;
    gap: 20px;
}

.currentProduct--title {

    width: 100%;
    font-size: 20px;

    font-weight: 500;
    line-height: 1.2em;
}

.currentProduct--rating {
    border-radius: 5px;
    background-color: #388e3c;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    color: white;
    font-weight: 600;
    padding: 0em 0.4em;
}

.currentProduct--rating i {
    color: white;
}

.currentPrduct--price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.currentPrduct--price span {
    font-size: 30px;
}

.itemCountContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 35px;
    padding: 0em 0.5em;
}

.countButton {
    width: 50px;
    height: 30px;
    background-color: #130f40;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.countButton:hover,
.addToCartButton:hover {
    cursor: pointer;
    background-color: #060514;
}

.itemCount {
    font-weight: 500;
    color: #388e3c;
    font-size: 20px;
}

.currentPrduct--discription {
    font-weight: 500;
    font-size: 18px;
    color: #4c4c52af;
}

.addToCartButton {
    border: none;
    outline: none;
    color: white;
    width: 200px;
    height: 50px;
    padding: 0.5em;
    font-weight: 500;
    font-size: 18px;
    background-color: #130f40;
    border-radius: 10px;
}

@media screen and (max-width: 901px) {
    .SliderContainer {
        height: 300px;
    }

    .posterContainer {
        height: 250px;
    }

    .ProductFullDetailsContainer {
        flex-direction: column;
    }

    .Product--pictureContainer,
    .Product--DetailsContainer {
        width: 100%;
    }
}

@media screen and (max-width: 601px) {

    .webNavbar,
    .searchContainer,
    .userContainer {
        display: none;
    }

    .App--Header {
        background-color: #f1f9ec;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 3;
        padding: 0em 0.6em;
    }

    .hamNavButton {
        display: flex;
    }

}


@media screen and (max-width: 700px) {

    .filterContainer {
        display: none;
    }

    .ShowProduct-ProductContainer {
        width: 100%;
    }

    .filterProductButton {
        background-color: #ff2400;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        color: white;
        border: none;
        outline: none;
        width: 40px;
        height: 40px;
        position: absolute;
        z-index: 3;
        top: 0px;
        right: 5px;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 20px;
        display: block;
    }

    .filterProductButton i {
        color: white;
    }

    .filterProductButton:hover {
        cursor: pointer;
    }

    .filterProductButton:hover i {
        transform: scale(1.2);
    }

    .activeFilterContainer {
        display: block;
        position: absolute;
        height: 100%;
        background-color: #f1f9ec;
        z-index: 2;
        animation: detailsAnimation 0.6s ease-in-out;
        opacity: 1;
    }

    @keyframes detailsAnimation {
        from {
          opacity: 0;
        }
      
        to {
          opacity: 1;
        }
      
      }
}

@media screen and (max-width: 500px) {

    .laptopcurrentImage,
    .cameracurrentImage {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .currentPrduct--price span {
        font-size: 20px;
    }

    .itemCountContainer {
        gap: 10px;
    }

    .addToCartButton {
        width: 150px;
        height: 45px;
    }
    .activeFilterContainer {
        width: 100%;
    }
}